@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --violet: hsl(257, 40%, 49%);
    --Soft_Magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
    --open_Sans: 'Open Sans', sans-serif;
    --Poppins: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}
body{
    background-color:var(--violet);
    background-image: url(../images/bg-mobile.svg);
    background-repeat:no-repeat;
    background-position: top;
    background-size: 100%;
}

.container{
    padding: 3.5rem 3rem 1rem 3rem;
    overflow: hidden;
    min-width: 17rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .header{
        align-self: start;
        img{
            width:12rem;
        }
        
    }
    .box-content{
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        img{
            width: 83.5vw;
        }

        .content-texts{
            padding: 0 1rem;
            margin-top: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title,.paragraph{
                color: var(--white);
                text-align: center;
            }
            .title{
                font-family: var(--Poppins);
                font-size: 2.18rem;
                font-weight:600;
                opacity: 0.9;
            }
            .paragraph{
                margin-top: 1.3rem;
                font-family: var(--open_Sans);
                font-weight: 400;
                font-size:1.3rem;
                letter-spacing: 0.01rem;
                line-height: 2.2rem;
                padding: 0 1.9rem;   
                opacity: 0.8;
            }

            button{
                margin-top: 2.5rem;
                width: 23rem;
                height: 4rem;
                color: var(--violet);
                background-color:var(--white);
                font-family: var(--Poppins);
                font-weight: 400;
                font-size: 1.3rem;
                letter-spacing: 0.1rem;
                border: none;
                border-radius: 3.5rem;
                box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0,0.2);
                cursor: pointer;
                &:hover{
                    background-color: var(--Soft_Magenta);
                    color: var(--white);
                }
            }
          
        }
    }

    footer{
        margin-top: 6rem;
        padding: 1rem 0;
        ul{
            display: flex;
            column-gap: 1.3rem;
            align-items: center;
            justify-content: center;
            li{ 
                cursor: pointer;
                list-style: none;
                font-size:2rem;
                color: #fff;
                border: 0.1rem solid #fff;
                border-radius:50%;
                span{
                    display: flex;
                    padding: 0.9rem;
                }
                &:hover{
                    color: var(--Soft_Magenta);
                    border: 0.1rem solid var(--Soft_Magenta);
                }
            }
        }
    }
}


@media(min-width:450px){
    body{
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
        background-position: right;
    }

    .container{
        .box-content{
            img{
                width: 65vw;
            }
            .content-texts{
                .title{
                    font-size: 3rem;
                    max-width: 60rem;
                }
                .paragraph{
                    max-width: 47rem;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }
            }
           
        }
    }
}

@media(min-width:714px){
   
    .container{
        padding: 4rem 6rem 1rem 6rem;
        .header{
            img{
                width: 16rem;
            }
        }
        .box-content{
            margin-top: 7rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 4rem;
            img{
                width: 50vw;
            }
            .content-texts{
                padding: 0;
                margin-top: 5.5rem;
                align-items: flex-start;
                align-self: flex-start;
                .title,.paragraph{
                    text-align: left;
                }
                .paragraph{
                    margin-top: 2.2rem;
                    padding: 0;
                }
                button{
                    margin-top: 3rem;
                    width: 20rem;
                    height: 5.3rem;
                    font-size: 1.5rem;
                }
            }
        }
        footer{
            margin-top: 5rem;     
            align-self: flex-end;
        }
    }
}

@media(min-width:1200px){
    .container{
        .box-content{
            img{
                width: 46vw;
            }
            .content-texts{
                .title{
                    line-height: 6.5rem;
                    letter-spacing: 0.1rem;
                    font-size: 4.8rem;
                }
                .paragraph{
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                }
            }
        }
    }
}
